:root {
      --white: #FFFFFF;
      --amarillo: #FFBF00;
      --amarillo-menu: #ffce10;
      --azul: #0d2342;
      --gris: #a8acb5;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}


#menu2 {
	display: none;
}

.display_block {
	display: block !important;
}

.display_none {
	display: none;
}


body {
	/*border: 2px solid red;*/
}


main {
	/*border: 2px solid blue;*/
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin-bottom: 109px;
	/*border: 2px solid purple;*/
}

header #contact {
	display: grid;
	grid-template-columns: 3fr 1fr;
	background: var(--azul);
	color: var(--white);
	padding: 7px 5px;
	/*border: 2px solid orange;*/
}

header #contact .info {
	display: flex;
	justify-content: flex-start;
	gap: 20px;
	padding: 2px 10px;
	/*border: 2px solid pink;*/
}

header #contact .info a {
	color: var(--blanco);
}

header #contact img {
	width: 20px;
	vertical-align: text-bottom;
}

header #contact .icons {
	/*border: 2px solid #82E0AA;*/
}

header #menu {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	font-size: 17px;
	font-weight: 700;
	padding: 10px;
	background: var(--white);
	color: var(--azul);
	/*border: solid green;*/
}

header #menu .opMenu {
	cursor: pointer;
}

header #menu .opMenu:hover {
	color: #ffce10;
}

header #menu .opMenu:nth-child(6) {
	background-color: var(--amarillo-menu);
	border: 2px solid var(--amarillo-menu);
	padding: 18px 25px;
}

header #menu .opMenu:nth-child(6):hover {
	background-color: var(--blanco);
}

header #menu .opMenu a {
	 text-decoration: none;
	 color: black;
}

/*a:link, a:visited {
  text-decoration: none;
}*/

section {
	margin-top: 100px;
	/*border: 2px solid red;*/
}

section #slider {
	/*border: 2px solid blue;*/
}

section #slider img {
	width: 100%;
}



section #services {
	text-align: center;
	/*border: 2px solid red;*/
}

section h1 {
	font-size: 50px;
	color: var(--azul);
	padding: 60px 20px;
}

section #services .ourServices {
	/*display: flex;
	justify-content: center;
    gap: 10%;*/
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;*/
	/*border: 2px solid blue;*/

	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

section #services .ourServices .itemService {
	text-align: center;
	padding: 20px 5px;
	/*border: 2px solid green;*/
}

section #services .ourServices .itemService:hover {
	box-shadow: 0 0 30px 0 rgba(15, 92, 250, 0.08);
}

section #services .ourServices .itemService img {
	width: 70px;
	border: 2px solid var(--amarillo);
	border-radius: 30px;
}

section #services .ourServices .itemService h2 {
	font-size: 20px;
	color: var(--azul);
	padding: 20px 5px;
}

section #services .ourServices .itemService p,ul {
	color: var(--gris);
	font-size: 15px;
}

section #services .ourServices .itemService ul {
	list-style: none;
}



section #ourTeam {
	text-align: center;
	/*border: 2px solid red;*/
}

section #ourTeam .Team {
	display: flex;
	justify-content: center;
	gap: 10px;
	/*border: 2px solid blue;*/
}

section #ourTeam .Team .member {
	/*border: 2px solid orange;*/
}


#menu2-icon {
	display: none;
	/*float: right;*/
	/*border:2px solid green;*/
}

	#menu2-icon img {
		cursor: pointer;
		with:30px;
		height: 30px;
		/*border: 2px solid yellow;*/
	}




@media screen and (max-width: 900px)
{
	body {
		/*border: 5px solid red;*/
	}

	header #contact .info p:nth-child(1) a span {
		display: none;
	}

	header #contact .info p:nth-child(2) span {
		display: none;
	}

	header #contact .info p:nth-child(3) {
		display: none;
	}
}


@media screen and (max-width: 800px)
{
	body {
		/*border: 5px solid blue;*/
	}


	#menu {
		display: none !important;
	}


	#menu2-icon {
		z-index: 1000;
		display: block;
		position: absolute;
		top: 15px;
		right: 20px;
		margin-top: 40px;
	}


	#menu2 {
		/*display: inline-block;*/
		/*border: 5px solid red;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    background: white;
	}

	

	#menu2 .menu2-options {
		color: #141733;
		font-family: Muli, sans-serif;
		line-height: 1.2em;
		font-size: 17.5px;
    font-weight: 800;
    transition: color .3s;
		margin-top: 60px;
		/*border: 2px solid orange;*/
	}

	#menu2 .menu2-options li {
		cursor: pointer;
    padding: 50px 10px;
    text-align: center;
    border: 1px solid #dddde1;
	}

	#menu2 .menu2-options li:hover {
		background-color: #ff6138;
		color:white;
	}


}